{% extends "base.html" %} {% block title %}Quote History{% endblock %} {% block content
%}

<form method="POST" action="/get-quote-history">
  <button type="submit" class="genTbl" >Generate Quote History</button>
</form>

<h1>Quote History</h1>

<div class="container">

  <h3 class="rnd">This is a summary of all previous, fuel cost quotes for this current user.</h3>
  <h3 class="rnd">It contains: </h3>
  <h3 class="rnd">Gallons Requested </h3>
  <h3 class="rnd">- Delivery Address</h3>
  <h3 class="rnd">- Delivery Date</h3>
  <h3 class="rnd">- Suggested Price / gallon</h3>
  <h3 class="rnd">- Total Amount Due</h3>

</div>
{%if fuel_quote_history%}
<div class="generateTable">
  <table class ="genTbl">
    <thead>
      <tr>
        <th>Date</th>
        <th>Gallons Requested</th>
        <th>Delivery Address</th>
        <th>Delivery Date</th>
        <th>Suggested Price / Gallon</th>
        <th>Total Amount Due</th>
      </tr>
    </thead>
    <tbody>
      {% for quote in fuel_quote_history %}
      <tr>
        <td>{{ quote.date }}</td>
        <td>{{ quote.gallons }}</td>
        <td>{{ quote.address }}</td>
        <td>{{ quote.delivery_date }}</td>
        <td>{{ quote.sugppg }}</td>
        <td>{{ quote.totaldue }}</td>
      </tr>
      {% endfor %}
      <!-- ...and so on for all previous fuel quotes... -->
    </tbody>
  </table>
</div>
{%endif%}
{% endblock %}