{% extends "base.html" %} {% block title %}Fuel Quote Form{% endblock %} {% block content
    %}
<h1>Fuel Price Estimator</h1>
<form>
    <h3>Requested Gallons</h3>
    <input class="box" type="text" id="requestedGallons" oninvalid="this.setCustomValidity('Required')" oninput="setCustomValidity('')" placeholder="Enter Gallon Amount" required>
    
    <h3>Delivery Date</h3>
    <input class="box" type="date" minvalue="2000-01-01" oninvalid="this.setCustomValidity('Required')" oninput="setCustomValidity('')" required>
    <!deliveryAddress,suggestedPPG,amountDue>

        <h3>Delivery Address</h3>
        <input class="box" type="text" placeholder="deliveryAddressPlaceholder" readonly>
        <!--Will be displayed without user needing to submit-->

        <h3>Suggested Price</h3>
        <input class="box" type="text" placeholder="Suggested Price Calculated" readonly>
        <!--Will be displayed without user needing to submit-->

        <h3>Total Amount Due*</h3>
        <input class="box" type="text" placeholder="Total Amount Due" readonly>
            <!--Replace placeholder with value of suggested price input * requested gallons input-->
    
        <br><br><input class="submit" type="submit" value="Enter" required>  

    </form> 
    <p>* Calculated Upon Completion</p>
    {% endblock %}